@import "src/assets/colors";


.container{
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  background-color: $extra-light;
}
.mainInfo{
  flex: 1;
  padding-left: 200px;
  padding-right: 200px;
  margin-top: 156px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.darkContainer{
  background-color: $secondary;
}

.footer {
  padding: 33px 0;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid $gray;
  div {
    color: $gray;
  }
}