@import "src/assets/colors";
@import "src/assets/mixins";
.userBlock {
  display: flex;
  align-items: center;
  margin-top: 20px;
  background-color: $primary;
  justify-content: space-between;
}
.user {
  @include user();
  padding: 16px 20px;
  display: flex;
  align-items: center;
}
.userLetter {
  @include user();
  background-color: $primary-secondary;
  padding: 10px 9px;
  margin-right: 16px;
  border-radius: 2px;
  box-sizing: border-box;
}
