@import "src/assets/colors";

.btn {
  height: 84px;
  width: 84px;
  padding: 28px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover{
    background-color: $primary;
  }
}