@import "src/assets/colors";
.container {
  width: 1120px;
  min-height: 216px;
  display: flex;
  flex-direction: column;
}
.dreadCrumbs{
  margin-top: 20px;
  display: flex;
  gap:8px;
  margin-bottom: 32px;
  }
.home{
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: $secondary;
}
.darkHome{
  color: $white;
}
.post , .symbolSl{
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: $gray;
}
.pageContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 48px;
}
.title {
  font-weight: 700;
  font-size: 56px;
  line-height: 80px;
  display: flex;
  color: $secondary;
}
.image {
  width: 992px;
  height: 518px;
}
.text {
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: $secondary;
}
.icons {
  display: flex;
  justify-content: space-between;
  margin-top: 48px;
}
.iconsLike {
  display: flex;
  gap: 10px;
}
.iconLike {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 32px;
  width: 88px;
  height: 56px;
  background: $light;
  border-radius: 2px;
}
.iconDisLike {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 32px;
  width: 88px;
  height: 56px;
  background: $light;
  border-radius: 2px;
}
.iconBookMark {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 32px;
  width: 237px;
  height: 56px;
  background: $light;
  border-radius: 2px;
  font-weight: 600;
  font-size: 18px;
  color: $secondary;
}
.darkTitle{
  color: $white;
}
.darkText{
  color: $white;
}
